@charset "UTF-8";

/* こんな感じ。マジかよ知らなかった……。 */

.p-item3_trim {

    /* 任意 */
    min-width: 100px; /* 最小表示幅の指定 */
    max-width: 170px; /* 最大表示幅の指定 */

    /* 必須 */
    white-space: nowrap; /* 空白で改行させない */
    overflow: hidden; /* はみ出た部分を表示しない */
    text-overflow: ellipsis; /* はみ出た場合に「…」を表示 */
    -webkit-text-overflow: ellipsis; /* はみ出た場合に「…」を表示 (Safari用) */
    -o-text-overflow: ellipsis; /* はみ出た場合に「…」を表示 (Opera用) */

}
